$sidebar-width: 190px
$toolbar-width: 60px

app-document-viewer .document .wrapper#editor
    height: 100%
    overflow: auto

    main.min-container
        width: 100%
        max-width: none
        padding: 0

        app-project-viewer
            @import 'partials/dashboard/editor/overview'
            height: inherit

            section.main
                height: 100%

                @import 'partials/dashboard/editor/sidebar'

                .content
                    padding: 2rem
                    position: relative
                    height: inherit
                    margin-left: $sidebar-width

                &.slides
                    // Expand total sidebar space and add slide scroller to the
                    // sidebar (floated out to the right).

                    #sidebar
                        width: 250px

                    .content
                        margin-left: 250px

                    app-project-slide-editor
                        height: inherit
                        @import 'partials/dashboard/editor/workspace'
