$sidebar-width: 190px

app-document-viewer .document .wrapper#editor
    height: 100%
    overflow: auto

    main.min-container
        width: 95%
        max-width: none
        padding: 0
        margin-right: 0

        app-project-viewer
            @import 'partials/dashboard/editor/overview'
            height: inherit

            section.main
                height: 100%

                @import 'partials/dashboard/editor/sidebar'

                .content
                    padding: 2rem 1rem 0 1rem
                    position: relative
                    height: 100%
                    margin-left: $sidebar-width
