.slide-editor
    @extend .abs-center

    height: 720px
    width: 1280px
    border-radius: 3px
    overflow: hidden
    box-shadow: 0px 0px 3px -1px #868686
    border: 1px solid #cacaca

    #workspace
        height: 100%
        background: white
