bikboo-shell.tree-dashboard
    @import 'partials/form'
    @import 'partials/dashboard/editor/core'
    
    .min-container
        min-width: 600px !important

    h1, h2, h3, h4, h5, h6
        margin: 0

    p
        margin-bottom: 0

    main
        padding: 2rem

        section
            // margin-top: 10px

            &#error
                background: #ffffff
                margin-bottom: 2rem
                border-radius: 3px
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3)
                padding: 1rem

                h2.section-title
                    padding-left: 0

            h2.section-title
                color: #777777
                font-weight: 100
                font-size: 19px

                padding-left: 1.5rem

            a:not(.button)
                color: $lightb-accent
                text-decoration: underline

                &:hover
                    color: $darkb-accent

        section.main .content
            padding: 1rem

            .modal-notice
                &:not(.inplace)
                    @extend .abs-center

                text-align: center
                background: white
                width: 485px
                max-width: 90%
                padding: 1rem
                border-radius: 3px
                border: solid 1px #dedddd
                box-shadow: 0px 0px 5px -4px black

                .wrapper
                    position: relative
                    
                    #left
                        float: left
                        position: absolute
                        top: 50%
                        left: 0.5rem

                        -webkit-transform: translateY(-50%)
                        -ms-transform: translateY(-50%)
                        -o-transform: translateY(-50%)
                        transform: translateY(-50%)

                        img
                            width: 80px
                    
                    #right
                        float: right
                        display: inline-block
                        margin-left: 112px
                        padding: 0.5rem 1rem

                        border-left: solid 1px #cccaca

                        h2
                            color: #525252

                        p
                            margin-top: 6px
                            margin-bottom: 1rem
                            color: grey

                    

            .project
                background: #ffffff
                box-shadow: 0px 0px 6px -3px black

                margin-bottom: 2rem
                min-height: 120px

                display: flex

                border: solid 1px #dedddd
                border-radius: 3px

                overflow: hidden

                .details
                    flex: auto

                    .empty
                        font-style: italic

                    .project-title
                        padding: 14px 16px 10px 16px

                        background: #ffffff

                        color: $darkb-accent
                        font-weight: 100
                        font-size: 1.3rem

                        display: flex

                        span.title
                            flex: 1

                            &.empty
                                color: rgba(11, 69, 146, 0.7)

                        .status
                            color: white
                            font-weight: 100
                            font-size: 0.8rem
                            font-family: Roboto

                            background: $darkp-accent
                            padding: 5px 10px
                            border-radius: 50px

                            box-shadow: 0px 0px 8px -3px black

                            float: right
                            height: fit-content

                            &.error
                                background: #ff4040

                            &.success
                                background: $lightb-accent

                    .project-desc
                        padding: 0 1rem
                        color: #4a4a4a
                        margin-top: 0
                        min-height: 2rem

                        &.empty
                            color: #9c9c9c

                    .last-edit
                        padding: 0.5rem 1rem 1rem 1rem
                        color: #317cf5
                        font-style: italic

                .edit
                    text-align: center
                    width: 150px
                    position: relative

                    flex: none

                    a
                        background: #fff
                        display: inline-block
                        width: 100%
                        height: 100%

                        border-left: 2px solid transparent
                        border-image: linear-gradient(to bottom, #0f9df1 0%, #7b37ff 100%)
                        border-image-slice: 1

                        box-shadow: inset 5px 0px 9px -6px black

                        transition: background 0.15s ease-in

                        .wrapper
                            position: absolute
                            left: 0
                            right: 0
                            top: 50%

                            -webkit-transform: translateY(-50%)
                            -ms-transform: translateY(-50%)
                            -o-transform: translateY(-50%)
                            transform: translateY(-50%)

                            svg
                                height: 50px
                                width: 50px
                                fill: #7d7d7d

                            span
                                color: #7d7d7d
                                margin-top: 10px
                                display: block
                        &:hover
                            background: #f7f7f7

                        &:active
                            background: #eeeeee

            .project.placeholder
                display: block

                .line
                    max-width: 90%
                    height: 1rem
                    margin: 1rem
                    border-radius: 5px

                    animation-duration: 1s
                    animation-iteration-count: infinite
                    animation-name: placeholderWave
                    background: linear-gradient(to right, #0f9df1 40%, #7b37ff 48%, #0f9df1 60%)
                    background-size: 2000px

    @import 'partials/dashboard/create.sass'

footer
    position: absolute
    bottom: 0
    width: 100%
    text-align: center

    color: #b5b5b5
    font-size: 14px
    font-weight: 100

    p
        margin-bottom: 8px

    a
        color: #b5b5b5
        text-decoration: underline

        &:hover
            color: grey

@keyframes placeholderWave
    0%
        background-position-x: 0px

    100%
        background-position-x: 2000px
