<div id="splash">
    <% if current_user %>
        <span id="login-status"><%= current_user.name %> | <%= link_to 'Sign out', signout_path, class: 'no-follow' %></span>
    <% else %>
        <span id="cookie-policy">By logging in to this service via Google, you permit our use of cookies defined in our <a href="#">cookie policy</a>.</span>
    <% end %>

    <div class="min-container">
        <div class="wrapper" id="main">
            <div id="primary">
                <h1 id="title"><%= ApplicationController::SITE_NAME %></h1>
                <span id="tagline">You choose the content, we create the video</span>
            </div>
            <div id="secondary">
                <h3 id="get-started"><%= current_user and "Welcome back, #{current_user.first_name}!" or "Ready to get started?" %></h3>
                <% if current_user %>
                    <a href="dashboard" class="button" id="dashboard">Open Dashboard</a>
                <% else %>
                    <%= render 'google_auth_link', continue: request.params[:continue] %>
                <% end %>
            </div>
        </div>

        <div class="wrapper" id="bottom">
            <a href="#" id="learn-more">Learn more (WIP)</a>
        </div>
    </div>
</div>

<main>
    <div class="container" id="more">
        <strong><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus minus, magni commodi debitis, placeat dolorum non molestiae quo dignissimos nam aspernatur ipsam expedita illum? Laborum non, inventore ut cupiditate fugiat, repellendus dolore repudiandae. Placeat voluptatem culpa quia iure laboriosam consectetur fugit, consequatur deserunt. Est velit sit omnis, necessitatibus consequatur nesciunt.</p></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil dignissimos nostrum labore laboriosam quo cupiditate qui facere perspiciatis dolore perferendis porro accusantium necessitatibus cumque nam expedita, mollitia rerum incidunt similique iste quas? Illum tempora possimus, mollitia fuga iure molestias necessitatibus repudiandae suscipit iusto vero, provident itaque sed dolore iste eligendi incidunt atque ducimus, aspernatur amet deserunt. Totam sequi fugit deserunt omnis, doloremque. Molestiae vitae voluptatum iste autem labore placeat possimus neque sed, architecto illo aliquid maiores pariatur blanditiis, itaque nulla perspiciatis eaque ipsa. Laborum necessitatibus sit itaque nam, sint aperiam quis aliquam provident. Quaerat at nostrum id minus, nulla doloremque magni iure. Voluptatum id culpa quidem, natus earum vitae corrupti iste quisquam impedit fugiat sunt beatae nisi nesciunt deserunt blanditiis temporibus voluptas animi quia repudiandae! Ex, accusantium consectetur sapiente molestias molestiae voluptatem iusto. Exercitationem officiis corporis, ab dicta perferendis porro necessitatibus minus nostrum, aut in est nobis, ullam aliquid.</p>
    </div>
</main>
