<% content_for :nav do %>
<!--    <div class="wrapper">
        <span class="title">Etavonni</span>
        <a href="#" class="right nav-link" id="google-login">Log In</a>
    </div> -->
<% end %>

<div id="splash">
    <div class="min-container">
        <div class="wrapper" id="main">
            <div id="primary">
                <h1 id="title"><%= ApplicationController::SITE_NAME %></h1>
                <span id="tagline">Some cheesy tag line to get people interested in the service.</span>
            </div>
            <div id="secondary">
                <h3 id="get-started">Ready to get started?</h3>
                <div class="g-signin2" data-longtitle="true"></div>
            </div>
        </div>

        <div class="wrapper" id="bottom">
            <a href="#more" data-scroll="main .container">or, learn more</a>
        </div>
    </div>
</div>

<main>
    <div class="container" id="more">
        <strong><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus minus, magni commodi debitis, placeat dolorum non molestiae quo dignissimos nam aspernatur ipsam expedita illum? Laborum non, inventore ut cupiditate fugiat, repellendus dolore repudiandae. Placeat voluptatem culpa quia iure laboriosam consectetur fugit, consequatur deserunt. Est velit sit omnis, necessitatibus consequatur nesciunt.</p></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil dignissimos nostrum labore laboriosam quo cupiditate qui facere perspiciatis dolore perferendis porro accusantium necessitatibus cumque nam expedita, mollitia rerum incidunt similique iste quas? Illum tempora possimus, mollitia fuga iure molestias necessitatibus repudiandae suscipit iusto vero, provident itaque sed dolore iste eligendi incidunt atque ducimus, aspernatur amet deserunt. Totam sequi fugit deserunt omnis, doloremque. Molestiae vitae voluptatum iste autem labore placeat possimus neque sed, architecto illo aliquid maiores pariatur blanditiis, itaque nulla perspiciatis eaque ipsa. Laborum necessitatibus sit itaque nam, sint aperiam quis aliquam provident. Quaerat at nostrum id minus, nulla doloremque magni iure. Voluptatum id culpa quidem, natus earum vitae corrupti iste quisquam impedit fugiat sunt beatae nisi nesciunt deserunt blanditiis temporibus voluptas animi quia repudiandae! Ex, accusantium consectetur sapiente molestias molestiae voluptatem iusto. Exercitationem officiis corporis, ab dicta perferendis porro necessitatibus minus nostrum, aut in est nobis, ullam aliquid.</p>
    </div>
</main>