<div class="notification">
    <div class="wrapper">
        <div class="details">
            <h3 class="title"><%= notification.title %></h3>
            <p class="body"><%= notification.body %></p>
        </div>

        <a href="#" class="notification-dismiss" data-turbolinks="false"></a>
        <%= link_to raw( "&#10006;" ), notification, method: :delete, class: 'notification-dismiss', :remote => true %>
    </div>
</div>
