<% @page_title = "Dashboard" %>

<% content_for :banner do %>
    <%= render 'dashboard_navigation' %>
    <div id="banner">
        <div id="wrapper">
            <h1>Dashboard</h1>
            <p>Welcome back, <%= current_user.first_name %></p>
        </div>
    </div>
<% end %>

<main>
    <div id="projects" class="column">
        <h1>Your Projects</h1>
        <%= link_to '+ create', new_project_path, class: 'button new-project' %>

        <div class="wrapper">
            <div class="panel" id="projects"></div>
            <div class="notice" id="no-projects">
                <%= image_tag "question-mark.png" %>
                <h3>Nothing here... yet!</h3>
                <span>You haven't got any projects! You should really get to that!</span>
                <p><a href="#" class="new-project">Click here to get started</a></p>
            </div>
        </div>
    </div>
    <div id="notifications" class="column">
        <h2>Recent Activity</h2>

        <div class="wrapper">
            <div class="panel" id="notifs"></div>
            <div class="notice" id="no-recent">
                <h3>Nothing here!</h2>
                <span>Your account has no recent activity. Instead, you can <a href="#" id="view-older">view older activity</a></span>
            </div>

            <div class="notice" id="no-activity">
                <h3>Nothing here!</h2>
                <span>Your account has no recorded activity</span>
            </div>

            <div class="notice error" id="failure">
                <h3>Well, this is embarrassing</h3>
                <span>Something went wrong on our end loading your activity. Give it a try later.</span>
                <pre id="error">Unknown Error Occurred</pre>
            </div>

            <div class="notice loading">
                <h3>Loading</h3>
            </div>

            <div class="float" id="loading">
                <span>Loading some more!</span>
            </div>
        </div>
    </div>
</main>
