<div class="sidebar">
    <div class="wrapper">
        <img src="<%= current_user.image_url %>?size=200" alt="User's avatar">

        <div id="details">
            <span id="user-title"><%= current_user.name %></span>
            <span id="user-email"><%= current_user.email %></span>
        </div>
    </div>
</div>
<main>
    <section id="projects">
        <h3 class="title">Projects</h3>
        <div class="listing error">
            <p class="sub">No projects, <a href="#">create one now</a>, or view <a href="#">our tutorial</a></p>
        </div>
    </section>

    <section id="subscription">
        <h3 class="title">Subscription</h3>
        <p>You currently have <i>no subscription</i>, which can be more expensive depending on your needs. View our <a href="#">payment plans</a> to find one that suits you.</p>
    </section>
</main>
