<div class="sidebar">
    <div class="wrapper">
        <img src="<%= current_user.image_url %>?size=200" alt="User's avatar">
        <span id="user-title"><%= current_user.name %></span>
    </div>
</div>
<main>
    <%= render 'dashboard_selector' %>
</main>
