<% @page_title = "Dashboard" %>

<% content_for :banner do %>
    <div id="sub-banner">
        <div class="min-container">
            <h1 class="page-title ajax-insert" data-ajax-attr-pair="title" data-ajax-meta>Loading</h1>
        </div>
    </div>
<% end %>

<main class="min-container">
    <noscript>
        <section id="noscript">
            <h2>Uh oh...</h2>
            <p>It appears that your Javascript is disabled inside of your browser. For instructions on how to enable JavaScript, and why you should, click <a href="https://enable-javascript.com/" target="_blank">here!</a></p>
        </section>
    </noscript>

    <app-project-list></app-project-list>
</main>
