$nav-height: 50px
nav
    #primary-banner
        padding: 0.5rem 0
        background: #2d2d2d
        position: relative
        z-index: 2

        &.drop-shadow
            box-shadow: 0px 5px 10px -8px black

        .min-container#navigation
            position: relative

            a:not(.button)
                display: inline-block
                line-height: $nav-height
                padding: 0 1rem
                color: #dcdbdb
                font-size: 0.9rem
                font-family: Roboto

                &:hover
                    color: white

                &.link
                    border-radius: 6px
                    line-height: initial
                    padding: 6px 12px
                    margin: 10px 0

                    -webkit-transition: 100ms background-color ease
                    -o-transition: 100ms background-color ease
                    transition: 100ms background-color ease

                    &:hover
                        background-color: #31353a    

                &.title
                    font-size: 1.8rem
                    float: left
                    font-weight: bold
                    color: white
                    font-family: Questrial, sans-serif

                &.right
                    float: right

                &#profile
                    padding: 7px 1rem
                    height: $nav-height

                    -webkit-transition: transform 100ms ease
                    -o-transition: transform 100ms ease
                    transition: transform 100ms ease

                    img
                        display: inline-block
                        border-radius: 100%
                        float: left
                        height: 100%
                        border: 1px solid #252525

                    &:hover
                        transform: scale(0.95)

            @import 'partials/profile_modal'

    #sub-banner
        background: $dim-bg-gradient
        box-shadow: 0px 5px 10px -8px black
        position: relative
        z-index: 1

        > .min-container
            padding: 1.3rem 1rem
            position: relative

            h1.page-title, a.breadcrumb-link
                margin: 0
                color: $darkb-accent
                font-family: Roboto
                font-size: 1.1rem
                text-transform: uppercase
                font-weight: 100
                display: inline-block

                ul.breadcrumbs
                    list-style: none
                    margin: 0
                    padding: 0

                    li.breadcrumb
                        display: inline-block

                        span.crumb-spacer
                            -webkit-transform: scale(0.8)
                            -ms-transform: scale(0.8)
                            -o-transform: scale(0.8)
                            transform: scale(0.8)

                            display: inline-block
                            position: relative
                            bottom: 2px
                            right: 1px

                            font-size: 12px
                            font-weight: 600

                            margin-left: 4px
                            margin-right: 4px

                    li.breadcrumb:nth-last-child(2)
                        span.crumb-spacer
                            margin-right: 0px

            #banner-link
                @extend .vertical-centre
                right: 1rem

                > a
                    background-color: rgba(0, 0, 0, 0.14)
                    border-radius: 3px
                    padding: 12px
                    box-shadow: inset 0px 0px 5px -3px black

                    -webkit-transition: background-color 200ms ease
                    -o-transition: background-color 200ms ease
                    transition: background-color 200ms ease

                    span
                        font-family: Roboto
                        text-transform: uppercase
                        font-size: 13px
                        line-height: 13px

                    &:hover
                        background-color: rgba(0, 0, 0, 0.20)


    #primary-banner .min-container, #sub-banner .min-container
        max-width: none
        width: 100%
