#profile-modal
    z-index: 1

    position: absolute
    top: 50px
    right: 1rem

    width: 200px

    background-color: white
    box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.17)

    border: solid 1px #d2d2d2
    border-top: none
    border-radius: 5px
    overflow: hidden

    #top
        text-align: center
        padding: 0.3rem 0
        background-color: #f3f3f3
        box-shadow: 0px 2px 5px -5px black
        
        .wrapper
            height: 30px

            #image
                display: inline-block

                img
                    width: 30px
                    height: 30px
                    line-height: 30px
                    border-radius: 100%
                    box-shadow: 0px 0px 9px -3px black

            span
                line-height: 30px
                display: inline-block
                vertical-align: top
                color: #636363
                margin-left: 6px
                overflow: hidden
                max-height: 30px
                word-break: break-all
                max-width: 150px


    #mid
        padding: 8px 0

        a
            display: block
            line-height: inherit
            padding: 8px 12px
            margin-left: 1rem
            color: #828482
            font-weight: 100

            -webkit-transition: margin-left 200ms ease, color 200ms ease
            -o-transition: margin-left 200ms ease, color 200ms ease
            transition: margin-left 200ms ease, color 200ms ease

            &:hover
                margin-left: 1.1rem
                color: #5f5f5f

    #signout
        width: 100%
        text-align: center
        border-radius: 0
        padding: 6px 13px
        height: inherit
