/* 
 * Splash screen styling. Mainly for use on landing page
 * Stored here to help de-clutter landing.sass
 *
 * Copyright (c) Harry Felton 2017
 */

bikboo-shell.page-index
    // overflow: hidden
    // height: 100vh

    app-document-viewer .document
        overflow: hidden

    #splash
        height: 100vh

        background-color: $bg-accent
        color: #ffffff

        text-align: center

        position: relative

        #login-status, #cookie-policy
            color: #b4e7ff

            a:hover
                color: #b4e7ff

        #login-status
            position: absolute
            top: 1rem
            right: 1rem

        #cookie-policy
            display: block
            padding-top: 10px

        .wrapper#main
            @extend .abs-center

            #primary
                #title
                    font-size: 4rem
                    margin: 0
                    text-shadow: 0px 0px 3px rgba(0, 81, 140, 0.49)

                #tagline
                    color: #004e90
                    font-style: italic

            #secondary
                margin-top: 3rem

                noscript strong
                    color: red
                    font-family: 'Roboto'
                    text-transform: uppercase

                #get-started
                    font-weight: 100
                    margin: 5px
                    font-size: initial
                    color: #b4e7ff
                        

        .wrapper#bottom
            position: absolute
            bottom: 3rem
            left: 50%

            -webkit-transform: translateX( -50% )
            -ms-transform: translateX( -50% )
            -o-transform: translateX( -50% )
            transform: translateX( -50% )
