$bg: #eeeeee
$bg-accent: #00adff
$dim-bg-gradient: linear-gradient(135deg, #4582EC 0%, #6f42c1 100%)

$darkb-accent: #0b4592
$lightb-accent: #0093ff
$darkp-accent: #6e3dff
$lightp-accent: #8255e0

$fg: black
$fg-accent: blue

$minContainerWidth: 850px
