@import 'core'

body
    /**/
    bikboo-shell
        display: block

        .loading
            @extend .abs-center
            text-align: center

            h1
                color: grey
                font-weight: 100
                font-style: italic
                font-size: 2rem
                margin-top: 0

            svg
                width: 150px
                height: 150px

                circle
                    stroke: $lightb-accent


    @import 'partials/splash'
    @import 'partials/dashboard/core'
