@import 'core'

html
    overflow-y: hidden

    body
        @import 'partials/splash'
        @import 'partials/dashboard/core'

        overflow-y: hidden
        overflow-x: overlay

        noscript
            @extend .abs-center
            color: #272727
            background: white

            padding: 1rem 2rem

            border-radius: 2px
            border: solid 1px transparent
            border-image: linear-gradient(to bottom right, #0f9df1 0%, #7b37ff 100%)
            border-image-slice: 1

            h1
                color: #0b4592
                font-family: Roboto
                margin-top: 0.5rem

            a
                color: inherit
                font-weight: 900

                &:hover
                    text-decoration: underline

        bikboo-shell
            @import 'partials/navigation'

            app-document-viewer, app-project-list, app-project-tile, app-project-viewer, app-project-overview, app-project-slide-editor, app-project-settings
                display: block

            display: flex
            flex-direction: column

            background: #eeeeee
            // position: relative
            height: 100vh
            min-width: min-content

            -webkit-transition: opacity 200ms ease, transform 200ms ease
            -o-transition: opacity 200ms ease, transform 200ms ease
            transition: opacity 200ms ease, transform 200ms ease

            .fetch-progress
                height: 2px
                background: linear-gradient(to right, #0f9df1 0%, #7b37ff 100%)
                position: absolute
                z-index: 101

                -webkit-transition: width 200ms ease-out
                -o-transition: width 200ms ease-out
                transition: width 200ms ease-out

            &.ready
                opacity: 1

                -webkit-transform: scale(1)
                -ms-transform: scale(1)
                -o-transform: scale(1)
                transform: scale(1)

            app-document-viewer
                flex: 1
                overflow: auto

                > div.document
                    opacity: 0
                    -webkit-transform: scale( 0.95 )
                    -ms-transform: scale( 0.95 )
                    -o-transform: scale( 0.95 )
                    transform: scale( 0.95 )

                    -webkit-transition: opacity 200ms ease, transform 200ms ease, padding-left 200ms ease
                    -o-transition: opacity 200ms ease, transform 200ms ease, padding-left 200ms ease
                    transition: opacity 200ms ease, transform 200ms ease, padding-left 200ms ease

                    height: 100%

                    main.min-container
                        height: 100%
                        position: relative

                    &.active
                        opacity: 1
                        -webkit-transform: scale( 1 )
                        -ms-transform: scale( 1 )
                        -o-transform: scale( 1 )
                        transform: scale( 1 )

                    @import 'partials/error'
