@import 'core'
@import 'partials/navigation'
@import 'partials/form'

body .container#main
    padding: 3rem 2rem

    .sidebar
        width: 35%
        display: inline-block
        border-right: solid 1px #e4e4e4

        .title
            margin-top: 0

    main
        width: 64%
        padding: 0rem 2rem
        float: right
        text-align: center

        .wrapper
            display: inline-block
            text-align: left

            form
                section
                    padding: 0.5rem 0

                    textarea
                        width: 450px
                        resize: vertical

                    input[type='submit']
                        float: right
