@import 'core'
@import 'partials/navigation'
@import 'partials/dashboard'

body .container#main .sidebar .wrapper
    width: 100%

    img
        width: 100%
        border-radius: 3px

    #details
        padding: 3px
        font-family: 'Roboto'

        span
            display: block
            overflow: hidden
            text-overflow: ellipsis
