@import 'core'
@import 'partials/navigation'

.min-container
    min-width: 850px !important

body
    min-height: 100vh

    .container#main
        margin-top: 55px
        padding: 1rem 0
        display: flex

        a
            color: $bg-accent

            &:hover
                color: #0178b1
                text-decoration: underline

        .sidebar
            padding: 1rem
            width: 23%
            display: inline-block

            border-right: solid 1px #e4e4e4

            .wrapper
                padding: 1rem
                width: 100%

                img
                    width: 100%
                    border-radius: 3px

                #details
                    padding: 3px
                    font-family: 'Roboto'

                    span
                        display: block
                        overflow: hidden
                        text-overflow: ellipsis


        main
            padding: 1rem 2rem
            width: 75%
            float: right
            flex: auto

            section
                margin: 2rem 0

                .title
                    margin: 0

                .listing
                    padding: 3px 10px
                    border-radius: 3px
                    margin: 1rem

                    &.error
                        border: solid #9c0000 2px
                        box-shadow: inset 0px 0px 4px -1px red
