/*  The core CSS file. Mainly handles setting common styles application wide
    Also handles setting of variables and basic web application structuring

    Copyright (c) Harry Felton 2017 */

@import 'partials/variables'
@import 'partials/reset'
@import 'partials/structure'
@import 'partials/notices'

a
    color: white
    text-decoration: none
    cursor: pointer

.button
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif
    background-color: #0083dc
    padding: 0px 13px
    border-radius: 4px
    color: white
    box-shadow: 0px 3px 17px -8px black

    font-size: 14px

    -webkit-transition: all .04s ease
    -o-transition: all .04s ease
    transition: all .04s ease

    text-transform: uppercase
    letter-spacing: .025em

    display: inline-block

    height: 37px
    line-height: 37px

    font-weight: 600

    &:hover:not(.disabled), &:active:not(.disabled)
        box-shadow: 0px 3px 17px -6px black
        background-color: #037bcc

        &.sub
            background-color: #464646


    &:active:not(.disabled)
        background-color: #0077c7

        &.sub
            background-color: #3e3e3e

    &.sub
        background-color: #656565

    &.disabled
        background-color: #737373
        color: #353535

    &.loading .button-wrapper
        span
            margin-right: 31px

        .inline-loader
            opacity: 1

    .button-wrapper
        position: relative

        span
            display: block
            margin-right: 0

            -webkit-transition: margin-right 0.2s ease-out
            -o-transition: margin-right 0.2s ease-out
            transition: margin-right 0.2s ease-out

        .inline-loader
            height: 23px
            width: 23px
            margin-top: 7px

            opacity: 0

            position: absolute
            right: 0
            top: 0

            circle
                stroke-width: 7px
                stroke: #15c1ff

            -webkit-transition: 0.2s opacity ease-out
            -o-transition: 0.2s opacity ease-out
            transition: 0.2s opacity ease-out

.button:not(.inplace):not(.disabled):hover
    transform: translateY(-1px)

.button.google-auth-link
    box-shadow: none !important
    background: transparent !important
    height: 45px

    img
        height: 45px

    .button-wrapper .inline-loader
        height: 27px
        width: 27px
        margin-top: 9px
        right: -27px

        circle
            stroke: #007fad


.container
    @extend .horizontal-centre

    width: 80%
    max-width: 1100px

.min-container
    @extend .container
    min-width: $minContainerWidth

=keyframes($name)
    @-webkit-keyframes #{$name}
        @content
    @-moz-keyframes #{$name}
        @content
    @-ms-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content

+keyframes(opacity-pulse)
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1
