<a id="google" class="button google-auth-link" href="<%= signin_path %>?continue=<%= url_absolute?( continue ||= "/dashboard" ) { |url, absolute| absolute ? '/dashboard' : url } %>" data-turbolinks="false">
    <div class="button-wrapper"><%= image_tag "google/light_normal.png" %><%= inline_svg 'loader.svg', class: 'inline-loader' %></div>
</a>
