<% content_for :nav do %>
    <div class="min-container">
        <a class="title" href="/">Bikboo</a>
        <a href="#">About</a>
        <a href="#">Pricing</a>
        <a id="sign-out" href="<%= signout_path %>" class="right" data-turbolinks="false">Sign out</a>
    </div>
<% end %>

<% content_for :content do %>
    <div class="min-container clearfix" id="main">
        <%= yield %>
    </div>
<% end %>

<%= render file: 'layouts/application' %>
