<% content_for :nav do %>
    <div class="container">
        <a class="title" href="/">Bikboo</a>
        <a id="sign-out" href="<%= signout_path %>" class="right" data-turbolinks="false">Sign out</a>
    </div>
<% end %>

<%= content_for :content do yield end %>

<%= render file: 'layouts/application' %>
